// COLORS

$mainFontColor: #9f9f9f;
$mainHeaderColor: #212025;
$subHeaderColor: #676cdb;
$activeTextColor: #676cdb;
$homePageFontColor: #ffffff;
$buttonColor: #676cdb;
$logoSliderColor: #676cdb;
$footerBgColor: #676cdb;
$contactFormBgColor: #676cdb;
$contactFormSubmitButtonColor: #212025;
$contactFormSubmitFontColor: #ffffff;
$scrollUpButtonColor: #212025;
$homePageBgColor: #212025;
$homePageSidebarBgColor: #676cdb;
$navbarBgColor: #212025;
$mainLinkColor: #ffffff;
$arrowBgColor: #f2f2f2;

// FONTS
$mainFontFamily: Rubik,
sans-serif;
$headersFontFamily: Poppins,
sans-serif;