.navbar {
    background-color: $navbarBgColor;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100px;
    padding: 30px 0;

    &__content {
        display: flex;
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 0;
        z-index: 110;
    }

    &__logoBeauty {
        color: $activeTextColor;
    }

    &__links {
        @include reset-list;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    &__link {
        &--active {
            display: flex;
            position: relative;

            a {
                color: $activeTextColor;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                right: -10px;
                bottom: 4px;
                background-color: $buttonColor;
                width: 6px;
                height: 6px;
                border-radius: 50%;

            }

        }
    }

    &__socials {
        @include reset-list;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-right: 30px;
    }

}